body {
    font: 400 1rem/1.6 "Public Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

header {
    margin-top: 1.7rem;
}

nav, .header__title {
    display: flex;
    justify-content: center;
}

.header__title {
    margin-left: 1.5rem;
}

.navitem {
    display: inline;
    height: 5rem;
    margin: .5rem .5rem 0 1rem;
}

.navitem > a {
    text-decoration: none;
}

.canvas {
    float: left;
    margin: 2rem 0 5rem 2rem;
    width: 50%;
}

.jsavoutput {
    text-align: center;
}
